.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast-day {
    flex: 0 0 30%; /* Three cards per row with space between */
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.forecast-day h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.forecast-day p {
    font-size: 14px;
    margin: 5px 0;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}
    
    .yr-meteogram-container iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.text-blue {
    color: #0000FF !important; /* Blue */
}

.text-grey {
    color: #808080 !important; /* Grey */
}

.text-orange {
    color: #FFA500 !important; /* Orange */
}


/* Default state (non-mobile screens) */
.horizontal-border {
  display: none;
}

/* Mobile screens (max-width: 767px is a common threshold for mobile) */
@media (max-width: 767px) {
  .horizontal-border {
    width: 100%;
    height: 1px; /* Adjust the thickness of the border here */
    background-color: #000; /* Adjust the color of the border here */
    margin: 1em 0; /* Adjust the spacing around the border here */
    display: block;
    margin-top: 10px!important; /* Adjust the spacing above the border */
    margin-bottom: 10px; /* Adjust the spacing below the border */
  }
}


.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    animation: skeleton-loading 1.5s infinite;
}

.skeleton-text {
    height: 1em;
    margin-bottom: 0.5em;
}

.skeleton-img {
    width: 65px;
    height: 65px;
    margin: auto;
}

@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f0f0f0;
    }
    100% {
        background-color: #e0e0e0;
    }
}



.text-blue {
    color: blue!important;
}

.text-grey {
    color: grey!important;
}

.text-green {
    color: green!important;
}
